alembic==1.14.0
email-validator==2.2.0
fastapi==0.115.6
langchain==0.3.27
langchain-openai==0.3.28
langsmith==0.4.8
bcrypt==5.0.0
psycopg[binary]==3.2.3
pydantic==2.10.3
pydantic-settings==2.6.1
python-jose[cryptography]==3.3.0
python-multipart==0.0.19
SQLAlchemy==2.0.36
uvicorn[standard]==0.32.1
